<% var title = 'Formulaire login' %>
<% include head %>

<h1>Login</h1>

<form method="post" action="/login">
  <p>
    <label>Pseudonyme:</label>
        <input type="text" name="username">
  </p>
  <p>
    <label>Mot de passe:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include foot %>