<% var title = 'Formulaire login' %>
<% include head %>

<h1>Login</h1>
Accés au <a href="/profile">/profil</a>
<form method="post" action="/login">
  <p>
    <label>Pseudonyme:</label>
        <input type="text" name="username">
  </p>
  <p>
    <label>Mot de passe:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
  <a href="/register">S'inscrire</a>
</form>

<% include foot %>