<% var title = 'Fiche produit' %>
<% include head %>

<div class="box" style="margin-left: 20%; margin-right: 20%">
<div class="columns is-centered">
        <div class="column">
            <h1 class="title is-3">Fiche du produit</h1>
            <img src="https://www.w3schools.com/w3css/img_fjords.jpg" alt="image du produit" height="auto" width="400">
        </div>
        <div class="column">
            <p class="title is-3"><%= product.name %></p>
            <p><strong>Description :</strong> <%= product.description %></p>
            <p><strong>Prix :</strong> <%= product.price %></p>
            <p><strong>Quantité restante :</strong> <%= product.stock %></p>
        </div>
</div></div>

<% include foot %>