<% var title = 'Profile' %>
<% include head %>

<p>Hello <%=user.firstname%> <%=user.lastname%></p>
<a href="/user/edit">Modifier le profil</a>
<a href="/user/password">Modifier le mot de passe</a>
<a href="/user/disconnect">D&eacuteconnexion</a>

<% include foot %>